[2014-07-23 23:13] montebaker opened #1 "Manual Installation Issue"
I could use some expertise on how to correctly install this on an existing angular project.  i tried to copy the files from the ZIP into my "content" directory and run the script in index.html, however i receive the following error when my app.js attempt to import the module.

"Uncaught Error: [$injector:modulerr] Failed to instantiate module app due to:
Error: [$injector:modulerr] Failed to insta

[2014-07-24 03:15] VoloDziu opened #2 "Show/hide actions for different instances"
More like suggestion, but would be nice to enable/disable options for different ngWig instances (e.g. first one doesn't have alignment, but the second one has).

[2014-07-24 14:53] Velzevul opened #3 "States for toolbar buttons"
Ideally, toolbar buttons should have "active" state. e.g. when current block of text is formatted as "ol", the "ol" button should have "active" state

[2014-07-25 03:57] VoloDziu opened #5 "Auto-expand editable area"
Very good addition would be auto-expanding of the editable area once amount of text becomes too big (so that there's no vertical scrolling)

[2014-07-25 06:55] #1 closed, assigned to nobody

[2014-08-20 13:45] #2 closed, assigned to nobody

[2014-08-20 13:46] VoloDziu opened #8 "Styles inside iframe"
In order to give style to edited text we need to include ng-wig.css inside iframe (as a link) and add class "nw-content" to iframe's <body>

[2014-08-20 13:46] VoloDziu opened #9 "Link functionality"
Missing implementation of link functionality

[2014-08-21 14:19] #8 closed, assigned to nobody

[2014-08-21 19:30] #9 closed, assigned to stevermeister

[2014-09-17 14:48] #5 closed, assigned to nobody

[2014-10-20 14:20] gkrzyminski opened #14 "Custom template"
How can I overwrite templateUrl without modifying ngWig directive itself?

[2014-10-21 14:39] stevermeister opened #15 "Remove "Auto-expand editor""
remove "Auto-expand editor" area and make editor container auto-expand by default

[2014-11-03 09:04] #15 closed, assigned to nobody

[2014-11-10 22:07] asimakath opened #18 "Insert special characters"
It would be great if someone can develop a feature to add special characters as an html entity into the editor. Insert a special character say copyright symbol © in the editor so that the produced HTML is `&#169;`

[2014-11-25 03:29] syarul opened #19 "Module name"
Module name is not 'ng-wig' but actually 'ngWig', Return error on first install.

And return undefined on line 120 of ng-wig.js

[2014-11-25 11:00] #19 closed, assigned to nobody

[2014-11-27 20:15] dmitry-egorov opened #21 "ng-wig tries to load 'http://localhost/undefined' on initialisation"
On every initialisation ng-wig tries to load 'http://localhost/undefined' and fails.

It seems like it tries to load a css style inside an iframe, but scope.cssPath is undefined.

init ng-wig.js:118
invokeLinkFn angular.js:8141
nodeLinkFn angular.js:7653
compositeLinkFn angular.js:7009
compositeLinkFn angular.js:7012
nodeLinkFn angular.js:7648
(anonymous function) angular.js:7884
processQueue angu

[2014-11-29 15:43] syarul opened #23 "feature request"
Steve,

Is there anyway you could add a directive features to add custom $sce filter to allow the css attributes of ng-wig go through when binding with ng-bind-html?

[2014-11-29 21:16] #21 closed, assigned to nobody

[2014-12-09 15:01] #23 closed, assigned to nobody

[2015-01-22 23:08] ShawnStrickland opened #27 "livereload inserted javascript automatically appended to content."
I noticed that I'm getting live reload insertion while I'm using grunt within my project.  It'll create data as it should,  and append a `<script>` inside of it all like so:
    `<p><ul><li>kljsdf sdfdfs<br></li></ul><div><br></div><h1>yfd</h1></p><script src=\"http://127.0.0.1:35729/livereload.js?ext=Safari&amp;extver=2.0.9\"></script>`
For any page that I'm inserting this live reload into.

[2015-01-25 13:12] stevermeister commented on #27
but it's normal for grunt-watch, right?

[2015-01-27 13:47] bavarod opened #28 "IE8, toolbar images not appearing"
When I try to use your directive with IE8, the toolbar images donot appear.

I suspect related to IE8 not supporting svg

[2015-01-27 17:48] ShawnStrickland commented on #27
Is it?  Looks like with ngWig, the live reload get's injected twice into the page.  Mind you; it still works correctly but for some reason ngWig will apply it to whatever is created in the WYSIWYG editor.  Does it have to use itself as an `iframe` to work?

[2015-01-27 19:00] stevermeister commented on #28
Do you really need to support IE8?

[2015-01-28 01:11] bavarod commented on #28
Greeting Steve
I'm with you, I wish IE8 would finally disappear.
but, Unfortunately there's still a lot of corporate PC's with XP installed on them.So IE8 is still alive and well.
According to this website (http://www.theie8countdown.com/), IE8 is still making up to 10% of the browsers out there.
Regards Dino
Date: Tue, 27 Jan 2015 11:00:39 -0800
From: notifications@github.com
To: ngWig@noreply.gi

[2015-01-28 06:40] stevermeister commented on #28
I'm sorry to hear that you still should support IE8.
we've already dropped the support of this browser version and now just show the page "You are using old browser" for all our products.

AngularJS dropped support for version 1.3
https://docs.angularjs.org/guide/ie

Even Microsoft is going to do it in one year(together with 9 and 10)
http://blogs.msdn.com/b/ie/archive/2014/08/07/stay-up-to-date-w

[2015-01-28 11:23] bavarod commented on #28
Greetings Steve
Thanks very much for your feedback.I'll take your suggestion and fork your code.

Regards Dino

Date: Tue, 27 Jan 2015 22:40:28 -0800
From: notifications@github.com
To: ngWig@noreply.github.com
CC: bavarod@sympatico.ca
Subject: Re: [ngWig] IE8, toolbar images not appearing (#28)

I'm sorry to hear that you still should support IE8.

we've already dropped the support of this browser

[2015-01-28 11:51] stevermeister commented on #28
Good Luck with IE! :)

[2015-01-28 11:51] #28 closed

[2015-02-04 20:21] ryanwersal opened #29 "License?"
I wasn't able to find a license file or one mentioned in package.json, the readme, etc. Would it be possible to add an appropriate license?

[2015-02-04 20:43] stevermeister commented on #29
Hi Ryan,

yes, sure.
here you are
https://github.com/stevermeister/ngWig/blob/master/LICENSE

[2015-02-04 20:43] #29 closed

[2015-02-04 20:44] ryanwersal commented on #29
Awesome. Thanks!

[2015-03-19 19:06] briangullo opened #30 "Question about sizing the text area."
Hello,

Had a quick question.  I've tried setting the width and height on ngWig several different ways. It seems like no matter what i do, the change to height, changes the height of the actual text area, but leaves the box the same size, and also causes any form elements under the ngWig to raise and overlap the box.   I've tried setting cols and rows like such:
  <textarea ng-wig="" cols="50" row

[2015-03-20 13:59] stevermeister commented on #30
Hi,

if you want to switch off auto expand you should add special attribute:

    data-autoexpand="off"
and you set width and height:

    <textarea ng-wig="text2" data-autoexpand="off" style="height: 200px; width:500px"></textarea>

[2015-04-14 17:41] mmiseyko opened #34 "ng-maxlength and ng-minlength doesn't work"
[code]

is valid when description =
<pre>
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0123456789
0
</pre>

155 characters

[2015-04-14 19:06] stevermeister commented on #34
hm, when you are going to put html inside how are you going to define amount of characters?

[2015-04-27 09:55] samarth-rao opened #35 "Issue opening in Ipad"
Text is going out of the boundary in rich-text in Ipad. Scrollbar is not functioning when opening in Ipad.

[2015-04-29 13:31] stevermeister commented on #27
@ShawnStrickland ,
could you check it now please?

we've removed iframe.

[2015-04-29 13:31] #27 closed

[2015-04-29 13:32] stevermeister commented on #34
@mmiseyko ,
could you check it now please?

we've removed iframe from it.

[2015-04-29 13:35] stevermeister commented on #30
@briangullo ,

we've removed "autoexpand" I new version of editor, so now you could simple set it up with styles (see the demo)

[2015-04-29 13:35] #30 closed

[2015-05-05 10:08] GerhardRiphagen opened #39 "html format"
When you look at text in html, it's not very convenient to read. Indention on html would be convenient.

[2015-05-07 08:19] GerhardRiphagen opened #40 "Unlink text"
When I create a link, I cannot unlink (only by deleting the linked word).

[2015-05-07 08:19] stevermeister opened #41 "inner container height"
the area is not getting focus when the height of editor is fixed and it's bigger then heights of the text

[2015-06-04 13:54] nadar opened #47 "Custom Toolbar"
How can i customize the toolbar? For example i want to remove the heading button.

regards

[2015-06-04 13:59] stevermeister commented on #47
just change the template and recompile the file
with command

    npm install && grunt build

[2015-06-04 18:43] nadar commented on #47
thanks!

[2015-06-04 18:43] #47 closed

[2015-06-17 12:33] #14 closed

[2015-06-24 09:08] bampakoa opened #50 "Icon set"
Hi,

Could you please point me where did you get your icons from?

[2015-06-25 14:45] Velzevul commented on #50
Hi!

I am pretty sure these were custom-made.
But if you are looking for a good resource with icons I could recommend the icomoon app: https://icomoon.io/

[2015-06-25 15:06] bampakoa commented on #50
@stevermeister I am asking for the icons as I would like to make a PR for font color button.

[2015-06-25 15:50] Velzevul commented on #50
@bampakoa I have just checked - these icons were indeed custom-made, which means there's no place where you could get the matching icon for "font color" button. You can find source .svg icons in the svg-icons-src/ folder.

(I also could try to design one that would match the overall style)

[2015-06-25 16:03] bampakoa commented on #50
@Velzevul It would be great if you could design one. Thanks very much.

[2015-06-27 10:39] cimey opened #51 "İs it possible to insert text to editor from angularjs controller when ngwig is in edit mode?"
Hi,

I want to insert an html image to editor in javascript. How can i achieve that?

[2015-06-27 11:30] stevermeister commented on #51
Hi @cimey ,

what do you mean by "html image"?

according to you question in title:

yes, it's possible by changing model

[2015-06-28 16:17] #50 closed

[2015-06-29 09:45] cimey commented on #51
Hi @stevermeister , thanks for your reply when i want to add image from controller image is not seen but image html is seen in editor like this "<img src='image.jpeg' />" but if it is added in edit mode image is seen. I want to add html code of image in edit mode . How can i achieve?

[2015-06-29 09:48] stevermeister commented on #51
hm,
could you create jsfiddle for it?
we will see what we could do.

[2015-06-29 10:03] cimey commented on #51
![normalmode](https://cloud.githubusercontent.com/assets/7849782/8405735/26da2d72-1e5f-11e5-930d-3d3fb2d89625.jpg)

[2015-06-29 11:19] cimey commented on #51
@stevermeister did you understand the problem?

[2015-06-29 11:20] cimey commented on #51
@stevermeister  did you understand the problem?

[2015-06-29 11:23] stevermeister commented on #51
@cimey ,

could you make jsfiddler/plunker for it?
it would be easy to get into details and fix the issue.
thanks.

[2015-06-29 12:33] cimey commented on #51
can you give link of ng-wig.min.js and ng-wig.css?

[2015-06-29 12:40] stevermeister commented on #51
you can you this files from dist
https://github.com/stevermeister/ngWig/tree/master/dist

https://rawgit.com/stevermeister/ngWig/master/dist/css/ng-wig.css
https://rawgit.com/stevermeister/ngWig/master/dist/ng-wig.min.js

[2015-06-29 12:48] cimey commented on #51
@stevermeister  create jsfiddle and as you said it is work when add on controller
https://jsfiddle.net/cimey/90s0m25p/5/

[2015-06-29 12:48] #51 closed

[2015-07-01 08:05] besuhoff commented on #41
Fixed in 1.8, I guess?

[2015-07-01 08:06] besuhoff opened #53 "Text style drop-down styling cross-browser"

[2015-07-01 11:48] stevermeister commented on #41
hope so :)

[2015-07-01 11:48] #41 closed

[2015-07-01 19:28] cpeele00 commented on #34
hello, I can't get ng-maxlength to work either. I love your directive by the way :-) Any help would be greatly appreciated.

[2015-07-02 08:37] stevermeister commented on #34
cpeele00,

I ask you to create requirements for it?
Because it's not obvious what should we limit in such manner: source length or wysiwyg length

[2015-07-07 14:24] solidismail opened #55 "underlined text button"

[2015-07-08 10:01] stevermeister commented on #55
s'il vous plaît
Ctrl + U

[2015-07-08 10:28] solidismail commented on #55
Je cherche le bouton (graphique) pour le faire .
Est ce qu'il y a un moyen de l'affiché ?
![capture d ecran 2015-07-08 a 12 26 00](https://cloud.githubusercontent.com/assets/1219754/8568294/c559b954-256c-11e5-812a-be497ebf471e.png)

Merci

[2015-07-08 13:10] stevermeister commented on #55
I see,
in this case you could just make some changes for template to add the button:

    <li class="nw-toolbar__item">
      <button type="button" class="nw-button nw-button--bold" title="Bold" ng-click="execCommand('underline')"></button>
    </li>

could you try this please?

[2015-07-20 15:10] cpeele00 commented on #34
Hello! what we need is for the user to not be able to type in more characters than the specified max. If I add maxlength or ng-maxlength it does not prevent the user from entering additional characters like you would expect. Thanks again :-)

[2015-07-21 06:39] stevermeister commented on #34
ok, I'll think about such option

[2015-07-28 06:08] stevermeister commented on #34
@cpeele00 ,
still did not have time for this issue :(
may be you could provide your ideas in pull request?

source code implementation:
https://github.com/angular/angular.js/blob/291d7c467fba51a9cb89cbeee62202d51fe64b09/src/ng/directive/validators.js#L54

[2015-07-29 08:15] chrismas opened #59 "copy and paste"
When I do copy from a word docs and paste in to the component it keeps all the fonts from the word docs.
Is there a way to disable this kind of behavior?

[2015-07-29 12:16] stevermeister commented on #59
ctrl + shift + v
or
cmd + shift + v

let me know if it does not work for you

[2015-07-29 12:23] chrismas commented on #59
Many thanks Stepan for your reply.
The shortcut is working.
Is there a way to tell the component to always past the plain text? It
should be good for me to have a property inside the component for that.

Christian Massironi
Senior Partner
+39 393 9965383
www.zerobytes.it

Il 29/07/15 14:16, Stepan Suvorov ha scritto:

[2015-07-31 14:40] gerhardriphagen opened #60 "Cancel link insertion"
When I click the "link" icon
and click cancel on the popup
it inserts "http://" in the text

I expect nothing to happen when I click cancel

[2015-07-31 19:52] stevermeister commented on #60
@GerhardRiphagen,

yes, I know about this issue.
it's already fixed and fix will be provided with next release

[2015-08-04 08:51] picitujeromanov commented on #35
doesn't work at all on iphone

[2015-08-04 09:07] stevermeister commented on #35
@picitujeromanov ,

could you provide more details please?

[2015-08-04 09:41] picitujeromanov commented on #35
Okay I take that one back, after testing default demo I assume that it's an issue on my side.

[2015-08-06 06:42] stevermeister commented on #35
let me know if it is not resolved

[2015-08-06 06:42] #35 closed

[2015-08-06 09:29] nadar opened #61 "minify dist css ng-wig.css"
could you please add a minified version of the ng-wig.css file inside the dist folder?

[2015-08-09 08:41] stevermeister commented on #61
hi @nadar ,

yes, sure, I'll try to include it to the next release

[2015-08-09 09:38] stevermeister commented on #59
ok, will think about this option.
just want to keep this editor as simple as possible.

[2015-08-09 21:31] picitujeromanov commented on #60
also links are clickable, you should attach a listener to 'nw-editor' and prevent default if target is anchor element

[2015-09-15 11:35] stevermeister opened #64 "Prevented mutual effects for multiple editors on one page"
STR:

  - init some ngWig editors on page
  - click "Source" button in first one
  - highlight part of text in second
  - click "Bold" button in first
  - font weight of highlighted text in second editor changed to the bold

[2015-09-17 16:44] sashless commented on #59
maybe provide a onPaste callback to customize the behavior

[2015-09-23 13:12] besuhoff opened #74 ""Normal text" state doesn't get initialized on style drop-down"
STR:
1. Open page with ng-wig editor
2. Start typing something in visual mode, giving some line breaks
3. Click "HTML source"
Expected:
&lt;p>text1&lt;/p>&lt;p>text2&lt;/p>
Actual:
&lt;div>text1&lt;/div>&lt;div>text2&lt;/div>

[2015-09-23 19:51] kfeinUI opened #75 "Spelling of ngWigToolbarProvider.addStandartButton()"
Looks like the incorrect spelling as been pasted in a few places. Builds, but worth fixing.

[2015-09-23 20:02] stevermeister commented on #75
wow!
thx a lot, @kfeinUI !

@bolelamx , it's your call

[2015-09-24 08:17] #75 closed

[2015-09-24 08:17] #64 closed

[2015-09-24 08:21] stevermeister commented on #55
@solidismail

we added possibility to add any buttons in very easy way, underline as well

please have a look
https://github.com/stevermeister/ngWig/blob/master/dist/demo.html#L42

[2015-09-24 08:21] #55 closed

[2015-09-24 08:24] stevermeister commented on #60
it was fixed with new release 2.0

[2015-09-24 08:24] #60 closed

[2015-09-24 08:31] stevermeister commented on #18
@asimakath
now we have possibility to add plugins, so it would be nice if you could create plugin for this functionality and put into plugins folder

[2015-09-24 12:30] stevermeister commented on #61
resolved, will be delivered with next build version

[2015-09-24 12:30] #61 closed

[2015-09-24 13:19] stevermeister commented on #59
@sashless
how do you see it?

[2015-09-24 13:45] sashless commented on #59
Hm sorry, what are you referring to?

[2015-09-24 14:04] stevermeister commented on #59
where do you want to see `onPaste ` callback  ?

[2015-09-24 17:52] sashless commented on #59
Well from the top of my head... we could fire a ngwig:beforePaste event or
provide a callback using a provider. Actually I need that as well for my
application so I will do something and create a PR in the next days
(probably Monday)

Stepan Suvorov <notifications@github.com> schrieb am Do., 24. Sep. 2015
16:04:

[2015-09-25 08:22] stevermeister commented on #53
fixed for mac

[2015-09-25 08:22] #53 closed

[2015-09-25 08:25] #3 closed

[2015-09-25 08:25] stevermeister opened #79 "States for toolbar buttons (for plugin case)"

[2015-09-26 12:37] stevermeister commented on #59
yes, please, it would be nice to discuss exact solution.

[2015-09-29 14:00] sashless commented on #59
i have created a PR to adress this issue

[2015-10-01 11:01] stevermeister opened #83 "make required attribute work correctly for ngwig"
http://www.w3.org/TR/html5/forms.html#the-required-attribute

[2015-10-13 18:28] SamGraber opened #86 "npm install isn't working"
I'm getting a failure when I try to install the ng-wig package through npm. It almost looks like it's trying to run some sort of post-install script and failing on it, but I haven't been able to figure out how to fix it.
The error is as follows:
![image](https://cloud.githubusercontent.com/assets/6878589/10464224/b10d2648-71b6-11e5-9019-36836ad46484.png)

Any help with this would be much appreciat

[2015-10-13 19:26] bampakoa commented on #86
@SamGraber Have you installed **grunt**?

[2015-10-13 19:37] SamGraber commented on #86
I have grunt install globally on my PC.

[2015-10-13 19:43] bampakoa commented on #86
Have you downloaded the latest version? As far as I can tell there was an issue with postInstall in #68 , but it has been removed from package.json.

[2015-10-13 19:53] SamGraber commented on #86
This is with the latest version, unfortunately. I looked over the pull request you referenced, and it looks like it *should* be the same issue, so I don't know why I'm still getting it

[2015-10-13 19:55] SamGraber commented on #86
Could it be a version issue, since the package version didn't get updated since that PR was merged? Could be npm is still looking at the old package

[2015-10-13 19:58] bampakoa commented on #86
Did you downloaded it from github or install it from npm?

[2015-10-13 20:01] SamGraber commented on #86
Just an npm install. I want to use it as a dependency for a different library

[2015-10-14 09:29] stevermeister commented on #86
@SamGraber
hm, as far as I see something is wrong with some of the paths according to your screen.

it would be nice if you could debug it, I think it's somewhere in grunt file with path with '.'
I don't have windows machine near, sorry.

you can try to play with this paths:
https://github.com/stevermeister/ngWig/blob/master/gruntfile.js#L4

[2015-10-14 12:42] SamGraber commented on #86
I tried pulling the Repo down locally and then npm installing it from the local folder, and that worked. I still think the problem is with the version that npm is looking at. You can see that it's trying to run a postInstall script above, which is what's breaking, and also what @sashless was trying to fix in PR https://github.com/stevermeister/ngWig/pull/68. The last version bump and publish is be

[2015-10-14 12:55] sashless commented on #86
yea @SamGraber is right. My fixes done in #68 are not published yet. @stevermeister  You are in need to release a new version and push it to NPM :+1:

[2015-10-14 12:56] sashless commented on #86
@SamGraber in the meantime you could use `"ng-wig": "git+ssh://git@github.com:stevermeister/ngWig.git#commit-hash-of-the-commit-you-need"`

[2015-10-14 13:02] SamGraber commented on #86
@sashless Thanks. I was consuming it by copying it to a local folder, but this is probably a better short-term solution since I'll want to use npm eventually so I can get updates of the library

[2015-10-14 13:12] sashless commented on #86
youre welcome @SamGraber . I use it all the time until PRs are merged and released =)

[2015-10-14 14:07] stevermeister commented on #86
new release is there

[2015-10-14 14:08] sashless commented on #86
thanks :+1:

[2015-10-14 14:09] SamGraber commented on #86
y, thanks

[2015-10-14 14:28] sashless commented on #59
This is now released in v2.2.0 and described in https://github.com/stevermeister/ngWig/pull/87. I think this can be closed now :+1:

[2015-10-14 14:29] sashless commented on #59
Well, i mean when you copy & paste its still there but now there is a way to tailor the paste behavior to your needs :+1:

[2015-10-14 16:01] stevermeister commented on #59
yes, true.
this one can be closed

[2015-10-14 16:01] #59 closed

[2015-10-14 16:02] stevermeister commented on #86
let me know if it's still a problem

[2015-10-14 16:02] #86 closed

[2015-10-14 16:04] SamGraber commented on #86
I tried the install through npm and it works perfectly! Sorry, I should've closed this myself

[2015-10-23 18:43] stevermeister commented on #18
I'll close it for now

[2015-10-23 18:43] #18 closed

[2015-10-23 18:45] #83 closed

[2015-12-07 14:45] iherbak opened #91 "Strange FF issue"
Hi,
I've added the component to our project and under FF i'm unable to click inside freely the cursor sticks to the place before the first character. I can write and press enter for new line but thats all.

Any idea,
Thanks in advance

[2015-12-07 22:16] tomrainedotcom opened #92 "Documentation error"
@stevermeister I have been using your plug-in, great by the way and love the new feature of the on-paste feature, which I am currently using.

I needed to use the paste feature to check if the text pasted in was UTF-8 encoded, and after reading your documentation and digging through the paste object I noticed that clipboardData is actually in the originalEvent object within the pasteEvent, so rath

[2015-12-08 07:23] stevermeister commented on #92
@tomrainedotcom ,

thank you for the feedback!

let's try to ping @sashless as an author of onPaste extension

[2015-12-08 07:23] stevermeister commented on #91
Hello @iherbak ,

could you please make sandbox for this issue?

[2015-12-10 15:25] sashless commented on #92
nice catch @tomrainedotcom , thanks for pointing that out.

[2015-12-11 06:46] stevermeister commented on #92
:+1:

[2015-12-11 06:46] #92 closed

[2016-01-05 03:13] steveoc64 opened #94 "restoring list item styles inside ng-wig"
This is not a problem with ng-wig itself, but might be useful for others who run into the dreaded "Where are my list items gone ????" problem.

If you are using ng-wig inside a modern CSS framework such as Bourbon, your list styles can get redefined away, and at first glance it's pretty hard to work out where to fix the problem.

Manually overriding just the "list-style-type" in your CSS wont brin

[2016-01-13 10:04] stevermeister commented on #94
@steveoc64
thank you for the note, it would be great if you could do PR to update README file with such a nice hint

[2016-01-18 21:40] SamGraber opened #95 "Allow for disabling the WYSIWYG"
It would be nice if the consumer could use the `ng-disabled` attribute to show the text editor as disabled. In this case we would want the text-area to be non-editable and the buttons to be always disabled. This would be useful for cases where you want to conditionally enable/disable the editor, or perhaps use the same display for a read-only view.

[2016-01-18 22:46] bampakoa commented on #95
Hi,

You could wrap the editor in a **fieldset** element and set the **ng-disabled** property of the fieldset.

[2016-01-19 14:28] SamGraber commented on #95
Thanks for the suggestion. I tried it but it doesn't seem to work as I would expect. The buttons don't work, but they still highlight, and the text area doesn't disable. It's possible I could overwrite the styling to remove the highlight when the disable flag is set, but I have no way of properly disabling the text area.

[2016-01-19 14:31] bampakoa commented on #95
Could you please share a plunker?

[2016-01-19 14:39] SamGraber commented on #95
:+1: Will do shortly

[2016-01-19 14:47] SamGraber commented on #95
http://plnkr.co/edit/FZpYbldu9tXHRWplIfdh?p=preview

[2016-01-19 15:42] bampakoa commented on #95
@SamGraber I can see your point. Feel free to submit a PR in case @stevermeister wishes to add it as a feature.

[2016-01-21 15:38] SamGraber commented on #95
Submitted

[2016-01-26 13:29] chrillewoodz opened #98 "Ability to decide which buttons to include in the editor"
Would be nice if you could choose which buttons that should be visible.

[2016-01-26 13:42] chrillewoodz opened #99 "Change link alert to a html popup instead to prevent it from being blocked"
It's not really good UX to have an alert, because it can easily be blocked by the user. Could you implement some other solution?

[2016-02-02 07:54] stevermeister commented on #99
you are more than welcome to create Pull Request for it!
the only reason why I made it so - I wanted to keep it as light as possible

[2016-02-02 07:55] stevermeister commented on #98
it's already there, no?
check out the demo - http://stepan.js.org/ngWig/demo/

[code]

[2016-02-02 12:54] #95 closed

[2016-02-05 12:35] chrillewoodz commented on #99
Turns out you actually can't have a popup as the text will then lose it's focus.. Not sure how to implement a solution for this hmm.

[2016-02-05 21:53] stevermeister commented on #99
yes, its pretty tricky

[2016-02-23 05:29] wonsuc opened #100 "I like this editor, and I also want to use it on non-AngularJS html"
Is there a alternative way to use this editor non-AngularJS environment?

[2016-02-23 08:37] #98 closed

[2016-02-23 09:38] stevermeister commented on #100
well...
because it was build for Angular and based only on Angular, so probably no, sorry

[2016-02-23 09:38] #100 closed

[2016-02-29 09:18] kurtiev opened #101 "How disallow user to insert unlisted html tags?"
`<div  ng-wig="textModel" buttons="bold, italic, link, list1, list2, formats"</div>`
On copy paste event of any html documents, all img <img> etc. html tags will inserted into. How it dissalow?

[2016-03-01 18:18] stevermeister commented on #101
@kurtiev  you could overwrite **onPaste** callback for your needs

[2016-03-01 18:30] kurtiev commented on #101
Oh, sorry i'm forgotten close this issue. I decide replace all tags on copy paste event and rewrite a little code in ng-wig.js. Line 80
`$element.on('paste', function(e) {
          var presentValue = $element.html();
          scope.onPaste(e, $element.html()).then(function(val) {
              var regex = /(<([^>]+)>)/ig;
              presentValue += val.replace(regex, "");
            $element

[2016-03-01 18:31] #101 closed

[2016-03-04 10:46] IuliaDobra opened #102 "Add buttons for insertimage and justifycenter/justifyfull/justifyleft/justifyright"

[2016-03-04 11:42] stevermeister commented on #102
@IuliaDobra ,
you could create plugin for it, right?

[2016-03-04 11:49] IuliaDobra commented on #102
@stevermeister I added the buttons on my local machine after I downloaded the source files from the website, I don't know if i can contribute to the repo, I could add them myself here, too.

[2016-03-04 12:00] stevermeister commented on #102
could you have a look at examples?
https://github.com/stevermeister/ngWig/tree/master/src/javascript/app/plugins

and after [create a pull request](https://help.github.com/articles/creating-a-pull-request/) to contribute to this repo.

[2016-03-05 19:02] bampakoa opened #103 "Clear formatting button"
Hi,

I was just thinking for adding a button to clear formatting of a selected piece of text. What's your opinion?

Thanks!

[2016-03-05 19:30] stevermeister commented on #103
Hi Aristeidis ,

not sure about core functionality but like plugin it would be really great to have

[2016-03-05 20:09] bampakoa commented on #103
Hi Stepan

Why not a core functionality? I mean, since it refers to a function that overwrites the result of all other buttons, imo it should be there.

[2016-03-07 10:30] stevermeister commented on #103
no, it does not. You just make changes with content, no?

[2016-03-07 10:35] bampakoa commented on #103
It actually removes all styles (e.g. Bold, Italic) and leaves only text.

[2016-03-07 10:38] stevermeister commented on #103
but do you want to do it though buttons?

[2016-03-07 10:40] bampakoa commented on #103
Initially yes. Do you have some other way in mind?

[2016-03-07 10:44] stevermeister commented on #103
yes, sure.
just a regular expression, or even something more clever.

http://stackoverflow.com/a/822486/274500

[2016-03-07 10:47] bampakoa commented on #103
How about: `ngModelController.$setViewValue($element.text());`

[2016-03-07 10:49] stevermeister commented on #103
yes, could be.   :)
so we don't need to have dependancy on buttons.

[2016-03-07 10:52] bampakoa commented on #103
Don't we need a button to execute the **Clear formatting** command?

[2016-03-07 10:57] stevermeister commented on #103
could you make PR for it?

[2016-03-07 10:57] bampakoa commented on #103
Yes of course!

[2016-03-07 11:19] bampakoa commented on #103
How about having a checkbox that will toggle between HTML mode and Plain text mode?

[2016-03-08 08:14] stevermeister commented on #103
I think it's not the best solution.
What the reason to use WYSIWYG for plain text? may be just textarea would be enough?

[2016-03-08 08:40] bampakoa commented on #103
The reason is:
I recently faced a problem where the user pasted text from a Microsoft Word document that it had styles in it like line breaks and paragraphs. Those styles were not visible during editing using ngWig.

When the user previewed the text, in another angular view that I have created, the styles were visible and the text was not properly formatted as during editing.

[2016-03-08 09:22] stevermeister commented on #103
yes, it's well known issue, but I think just a checkbox does not help

[2016-03-08 09:26] bampakoa commented on #103
In my fork, I added a button that clears all styling from the content and leaves only plain text. Do you have any other suggestion?

[2016-03-08 09:26] stevermeister commented on #103
but what if you do want to copy the styles?

[2016-03-08 09:28] bampakoa commented on #103
What do you mean? Can you describe a case?

[2016-03-08 09:32] stevermeister commented on #103
I would like to copy text with styles, what do you want me to explain?
Do you suggest always to clean them up?

[2016-03-08 09:36] bampakoa commented on #103
For that you describe,imo, I would make an extra button plugin to copy styles.

[2016-03-08 09:39] stevermeister commented on #103
but could you please take a look at existing WYSIWYG editors? they just paste content with styles

[2016-03-08 09:42] bampakoa commented on #103
As far as I know, CKEditor has a similar button called **Paste as plain text**.

[2016-03-08 09:44] stevermeister commented on #103
ok, let's create such button.
but default one still keep with styles

[2016-03-08 09:45] bampakoa commented on #103
Totally agree, the default will be with styles. I will make a PR for you.

[2016-03-08 09:51] stevermeister commented on #103
:+1:

[2016-03-23 19:17] bampakoa commented on #103
@stevermeister should I wait for release 3 to create the PR?

[2016-03-24 08:50] stevermeister commented on #103
@bampakoa, I think it's not a lot of changes for plugins, but yes, probably it's better to wait.

also you could join code review for it
https://github.com/stevermeister/ngWig/pull/105

[2016-03-24 12:30] stevermeister commented on #74
is it still there?

[2016-03-24 12:31] #91 closed

[2016-03-24 12:40] stevermeister opened #106 "update docs for 3.0.0"

[2016-03-25 09:45] besuhoff opened #107 "List of text formats should always be on the left by default"
![image](https://cloud.githubusercontent.com/assets/6132126/14042060/0eb92366-f27f-11e5-8e53-c6ffec3ea691.png)

[2016-03-25 09:58] bolelamx opened #108 "Add ability to use ng-change"

[2016-03-30 08:31] stevermeister commented on #108
looks like it works :)

[2016-03-30 08:31] #108 closed

[2016-03-30 08:39] stevermeister commented on #34
@mmiseyko , @cpeele00 ,

it's now there in V3
https://github.com/stevermeister/ngWig/tree/v3.0.0-rc2

[2016-03-30 08:39] #34 closed

[2016-04-05 12:35] bampakoa commented on #103
In replacement of #110

[2016-04-05 12:35] #103 closed

[2016-04-19 09:31] DuncanOgle opened #111 "Paste issues in IE 9+"
When trying to bind a custom paste function, on IE I encounter this problem with this line (ng-wig.js, line ~151).

[code]

Throws an error on IE, due to it not supporting `text/plain` and only `Text`. It pastes the raw data still, but I am unable to fire my custom function.

[2016-04-19 09:36] DuncanOgle opened #112 "Enhance paste functionality"
Currently, pasting using a custom function calls this line

[code]

This tries to get the plain text of the line. But if we want the HTML content, we must perform our own actions on the event object. The paste functionality could be enhanced to (optionally) try to get HTML first, then plain text second.

[code]

Though, you will run into issues on IE due it it only accepting `Text` as a parameter

[2016-04-21 06:27] kpgarrod opened #113 "ngWig with angular-material"
I am using ngWig(v3) with angular 1.5 and angular-material 1.1. It looks and works great, thanks!

There are two issues which may be related so I am writing them together here. Let me know if I need to split them up.

1. When I include ng-wig inside a form (with or without md-input-container) the editor does not become focused when tabbing through the form.
2. On a mobile device the keyboard does

[2016-04-21 08:30] bampakoa commented on #39
@stevermeister I think its a good case for another plugin. What do you think?

[2016-04-21 11:49] bampakoa commented on #102
@IuliaDobra if you want to give a hand on this, ping me, and I'll be happy to help.

[2016-04-21 20:51] stevermeister commented on #39
@bampakoa it's awesome task, I was looking for easy solution for it, but in fact solution of this issue if we take in account all the cases is pretty complex

[2016-04-21 20:59] bampakoa opened #114 "Access ng-model attribute from plugins"
It would be very nice, to have access to the **ng-model** attribute of the editor, from inside a plugin. In that way, the plugin could alter the value of the model anytime it needs to, thus giving the opportunity of extending the plugin collection.

[2016-04-21 21:07] bampakoa commented on #39
@stevermeister I agree that is too complex to implement it from scratch and there is no point to re-invent the wheel. I was thinking of creating a plugin in conjunction with the use of a custom library (e.g. [js-beautify](https://github.com/beautify-web/js-beautify)).Sure, there will be more like this. But this is what came to my mind at once :smile:

[2016-04-21 21:46] bampakoa opened #115 "Unit testing"
I think that unit tests should not be absent from the source code. I am willing to make a PR for this and @stevermeister we should notify the other plugin writers to act so.

[2016-04-22 10:49] #111 closed

[2016-04-28 22:58] alexbrad opened #117 "Custom Button example wrong"
In order for the custom button to work, the "execCommand" event must be emitted, not broadcast, because it needs to go up the scope-chain and reach the parent editor scope.

Now, it's true that you probably don't want the event to go up to the rootScope, so I suggest canceling it once it is caught in the ngWig directive.

[2016-05-01 12:21] stevermeister commented on #115
@bampakoa I would love to see unit tests, but never have time for it. If you could help me with it it would be great. Only one thing - I thinking about moving to webpack. May be we could do webapck migration first?

[2016-05-01 12:31] stevermeister commented on #114
💯

[2016-05-01 12:34] stevermeister commented on #113
@kpgarrod
thank you for detailed explanation of the issue!
I think it's not only about angular-material, we will try to solve this issue

[2016-05-01 14:46] kpgarrod commented on #113
Thanks! Please let me know if there's anything I can do to help.

On Sun, May 1, 2016 at 2:34 PM Stepan Suvorov <notifications@github.com>
wrote:

--
Keith Garrod
Phone +356 2156 9774
Mobile +356 9958 6774

[2016-05-05 09:36] bampakoa commented on #115
Agree for migrating to webpack first. Have you done any work on that yet?

[2016-05-05 09:39] bampakoa commented on #114
Please feel free for anyone to comment on potential ways of implementing this feature.

[2016-05-05 09:53] bampakoa commented on #113
IMO, the focus should be initially on the toolbar of the editor, if we want to account for a11y. If you take a look at the demo on the README page, the focus is indeed on the toolbar (try to press some tabs and then the space key on the keyboard), but it is not visible to the eye due to styling.

[2016-05-06 07:21] #117 closed

[2016-05-06 07:24] #106 closed

[2016-05-10 09:31] IuliaDobra commented on #102
@bampakoa yes, i would need some help.

[2016-05-18 14:38] herrwalter commented on #108
Sorry, doesnt work here either

[2016-05-19 08:07] stevermeister commented on #108
please update to **v3.0.0-rc2**
still only release candidate, but a lot was fixed since **2.3.7**
let me know if it still does not work

[2016-05-19 08:42] herrwalter commented on #108
v3.0.0-rc2 is not released yet.. only rc1 is released and its not working on that tag either

[2016-05-19 08:45] stevermeister commented on #108
actually it should.
please check an example
https://plnkr.co/edit/gSh3gTABfm3OGRAPcyxQ?p=preview

[2016-05-19 08:50] herrwalter commented on #108
He is unable to find the tag.
![image](https://cloud.githubusercontent.com/assets/2805458/15387821/4d305690-1daf-11e6-9808-321d1424d044.png)

When i update to master it all works find. Though i'd like to see a tag/release so I can depend on the current state of the master.

[2016-05-19 09:43] stevermeister commented on #108
true, bower does not support it
ok, let me release 3.0 then.

[2016-05-19 09:43] stevermeister commented on #108
enjoy version 3.0.1 in bower and npm

[2016-05-19 09:53] herrwalter commented on #108
I thank you! _o_

[2016-05-20 06:51] kpgarrod commented on #113
I'm not sure if my point 2 slipped through the cracks, but that is really the critical issue for me right now.

"On a mobile device the keyboard does not appear when focusing on the editor."

This makes the app unusable on a mobile device with ng-wig. I would really appreciate some help with this one as I am using ng-wig extensively and the project is ready to go into production.

[2016-05-28 17:50] stevermeister commented on #113
@kpgarrod
I've tested it one more time.
created own sandbox for it - http://codepen.io/stevermeister/pen/beGWNe?editors=1010
and it looks really strange - when you just include **angular-material** to your project it does not work anymore.

have you created an issue on angular-material repo? it would be nice to listen to their thoughts

[2016-05-31 06:37] kpgarrod commented on #113
@stevemeister Thanks for the suggestion. I logged an [issue at angular-material](https://github.com/angular/material/issues/8593) but it was closed as a duplicate of another issue which suggests using Summernote. Summernote depends on JQuery and twitter-bootstrap, neither of which I want in my project.

[2016-05-31 07:57] stevermeister commented on #113
it's definitely not a duplicate. posted a message there

[2016-05-31 08:02] kpgarrod commented on #113
Thanks. May I suggest that you also post a message in the open issue:
https://github.com/angular/material/issues/8487 ? I'm not sure if anybody
will look at my issue now that it's closed.

On Tue, May 31, 2016 at 9:57 AM Stepan Suvorov <notifications@github.com>
wrote:

--
Keith Garrod
Phone +356 2156 9774
Mobile +356 9958 6774

[2016-05-31 08:35] stevermeister commented on #113
@kpgarrod
as you see it's an issue of angular-material
https://github.com/angular/material/issues/5937

[2016-05-31 10:02] kpgarrod commented on #113
Thanks!

On Tue, May 31, 2016 at 10:35 AM Stepan Suvorov <notifications@github.com>
wrote:

--
Keith Garrod
Phone +356 2156 9774
Mobile +356 9958 6774

[2016-06-01 17:02] timbrown81 opened #119 "Incompatible with angular-sanitize"
The editor appears to be incompatible with angular-sanitize.

To demonstrate, I forked your basic demo and added the <script> for angular-sanitize.  I then added the dependency and injected the $sca service.  The final step prevents the editor from being rendered and throws the following error:

[$injector:unpr] http://errors.angularjs.org/1.5.0/$injector/unpr?p0=%24scaProvider%20%3C-%20%24sca

Pl

[2016-06-02 14:52] bampakoa commented on #119
@timbrown81 your issue description is incomplete. There is a missing piece at the end of it. :smile:

[2016-06-02 14:53] bampakoa commented on #115
@stevermeister any news on the webpack integration?

[2016-06-02 14:54] bampakoa commented on #39
@stevermeister any news on the above proposal?

[2016-06-03 12:27] stevermeister commented on #115
not yet :(
did not have time for it

[2016-06-03 12:29] bampakoa commented on #115
I can have a look on webpack, if that is ok with you.

[2016-06-03 12:30] stevermeister commented on #115
may be we could write tests with grunt.
test are more important than webpack migration. and still not sure about the gain.

[2016-06-06 13:45] #119 closed

[2016-06-06 13:45] timbrown81 commented on #119
Sorry, I figured out my problem and didn't intend to post the issue.

[2016-06-13 17:43] bampakoa commented on #102
@IuliaDobra for justification you could use method **addStandardButton** of **ngWigToolbarProvider**.

For example:

`ngWigToolbarProvider.addStandardButton('justify-left', 'Justify left', 'justifyLeft', 'fa-align-left');`

The same is valid for the rest of justification buttons.

[2016-06-13 17:53] bampakoa commented on #112
@stevermeister I think this could be closed.

[2016-06-13 18:00] bampakoa opened #123 "Access ngWigPlugin bindings from an actual plugin"
@stevermeister I have noticed that the **ngWigPlugin** controller replaces its element with the actual plugin contents below. My question is how can the actual plugin access the bindings of the **ngWigPlugin** afterwards (e.g. the editMode or the options object) inside its own controller?

[code]

[2016-06-13 18:04] bampakoa commented on #123
Please ignore this issue as I have figured it out.

[2016-06-13 18:04] #123 closed

[2016-06-13 21:08] IuliaDobra commented on #102
Did you got my last e-mail? I used that for justification

On Mon, Jun 13, 2016 at 8:43 PM, Aristeidis Bampakos <
notifications@github.com> wrote:

[2016-06-13 21:19] bampakoa commented on #102
@IuliaDobra I got your email but you did not mention anything about justification. Nevertheless, if you have used it that way, you are ok!

[2016-06-14 06:23] #74 closed

[2016-06-14 06:26] #102 closed

[2016-06-14 06:28] #114 closed

[2016-06-14 12:23] WhittenMike807 opened #126 "Getting contenteditble error"
Controller 'ngModel', required by directive 'contenteditable', can't be found!

I have this for the code:
<ng-wig ng-model="call.notes" buttons="list1, list2, bold, italic" class="callBlockNotes nw-editor--fixed"></ng-wig>

[2016-06-15 08:13] bampakoa commented on #126
@WhittenMike807 could you be more specific because your issue description is not fully visible?

[2016-06-21 10:55] bampakoa commented on #107
@besuhoff I can confirm that this behavior exists when we choose **not** to use the buttons array in the html template:

`<ng-wig ng-model="text1"></ng-wig>`

If we specify which buttons to show (e.g. `<ng-wig ng-model="text1" buttons="formats, link"></ng-wig>`), then it is always on the left of the toolbar. I think this happens because the **Formats** plugin is bundled in the ngWig.min.js. Is thi

[2016-07-05 09:05] vaishali-ghayal opened #128 "Getting error when updated to latest version"
[$injector:modulerr] Failed to instantiate module ngWig due to:
[$injector:modulerr] Failed to instantiate module ngwig-app-templates due to:
[$injector:nomod] Module 'ngwig-app-templates' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

[2016-07-05 19:43] bampakoa commented on #128
@vaishali-ghayal Can you give more details about the problem? (e.g. how you are trying to use the library) Maybe provide a plunkr if it is possible?

[2016-07-06 08:51] vaishali-ghayal commented on #128
@bampakoa I was using previous version 2.3.3 it was working fine, now I am trying to upgrade it to the latest version but it's giving me above error. I am using angular js and materialize css and require js for loading modules

[2016-07-06 09:51] bampakoa commented on #128
Are you using npm or bower to update to the latest version?

[2016-07-07 11:58] vaishali-ghayal commented on #128
I am using bower

[2016-07-07 13:17] bampakoa commented on #128
I tried to reproduce your problem by setting up a sample project with v. 2.3.3 and then upgrade it to 3.0.1 and everything worked without problems.

Please note that the Angular version must be 1.5+ and the element that is used to render the editor has changed from **textarea** to **ng-wig** for the latest version of the library. Below you can see the
changes between each version.

## Version 2.3.

[2016-07-07 13:42] vaishali-ghayal commented on #128
@bampakoa : Thank you for your help, I will check the angular version and will get back to you is issue persists. I think angular version might be the problem.

[2016-07-12 10:57] bampakoa commented on #115
closing in favor of #129

[2016-07-12 10:57] #115 closed

[2016-07-13 07:41] sajithk opened #130 "Can't get focused using keyboard tab key"
The editor is not focused when I used keyboard tab key to navigate through my form. I found that
tabindex is set to -1 in ng-wig/views/ng-wig.html tempate in ngWig\dist\ng-wig.js.

[2016-07-15 12:57] bampakoa commented on #130
@sajithk This is something that has been reported also in a previous issue #13 . I think that changing just the tabindex should not be enough in situations with multiple editors. Do you have any ideas to suggest?

Thanks for your issue!

[2016-07-18 12:43] bampakoa opened #131 "Add editor HTML element to plugin bindings"
@stevermeister what do you think about passing the HTML element that hosts the editor in the **bindings** property of **ngWigPlugin**? In that way, we could overcome difficulties that appear when using multiple editors in a template and simplify the way to find in which editor the plugin belongs to.

For example, in **clear-styles** plugin, we use the following to find the actual editor element:

[2016-07-18 12:55] stevermeister commented on #131
why do we need it inside plugin?
it was nice to bind ngModel, but why element itself?

[2016-07-18 13:07] bampakoa commented on #131
I think it will be helpful in case someone wants to interact directly with the actual HTML element.

Take for instance the **clear-styles** plugin that uses an inefficient way to find the host element of the editor. Or even in the case of #130 where @sajithk was having problems with the focus on the editor. If he was to create a plugin that sets focus, he should find a way to decide which is the o

[2016-07-18 13:15] stevermeister commented on #131
yes, "focus" is a good example.

but " clear-styles" should work only with ngModel, no?

[2016-07-18 13:28] bampakoa commented on #131
I think that ngModel contains the text along with any styles (e.g. p, li, br). If it is like that, there is no easy way to get the text only. except from **textContent** property of the element.

[2016-07-19 09:48] nonblocking opened #132 "Plugins don't work in IE in version 3.0.1"
In the latest version (3.0.1) the plugins (e.g. format) don't work in IE10+11, because of the _disabled_ attribute on the _ng-wig-plugin_ element. IE disables all form elements within an element with a disabled attribute.

It can easily be fixed by naming the attribute "data-disabled" instead of "disabled" (in _ng-wig-plugin-adapter.component.js_).

And could you please release a new version? 3.0.

[2016-07-20 08:17] stevermeister commented on #132
@nonblocking
thank you for the feedback.

published version 3.0.3 for npm and bower.

you are more than welcome to make a PR for it :)

[2016-07-20 08:52] stevermeister commented on #131
in this case if you want to work with DOM properties, you can just create virtual element, put content there and do **textContent**.
still not convinced.
I just want to provide properties that you really need, but not that you might want to have in some rare cases.

Could you provide at least on more example please?

[2016-07-20 11:05] bampakoa commented on #131
I gave a second thought on the issue and I think it is not worth to provide it as a binding, for the reasons you have already mentioned.

Could you please provide an example with the use of the virtual element that you describe? I would be really interested to integrate such a solution to the clear-styles plugin.

[2016-07-20 11:37] bampakoa commented on #132
@nonblocking are you referring to the **formats** plugin only or to all of them?

[2016-07-20 12:04] nonblocking commented on #132
Well, I just tried the formats plugin, but it might concern all plugins, since IE recognises the _disabled_ attribute on all kind of elements (see https://msdn.microsoft.com/en-us/library/ms533732(v=vs.85).aspx). And everything but "false" seems to be treated as true.

[2016-07-20 13:08] bampakoa commented on #132
@nonblocking I double checked and the issue appears in the **formats** plugin only. Could it be a problem with `select `element specifically?

[2016-07-20 14:22] stevermeister commented on #131
let div = document.createElement('div')
    div.innerHTML = htmlContent;
    div.textContent

[2016-07-20 14:26] bampakoa commented on #131
I am struggling to understand how can this be used in clear-styles plugin. Could you please elaborate a bit?

[2016-07-20 14:29] stevermeister commented on #131
let div = document.createElement('div')
    div.innerHTML = ngModel;
    ngModel = div.textContent

[2016-07-20 14:29] stevermeister commented on #131
it's the same what we did here
https://github.com/stevermeister/ngWig/blob/master/src/javascript/app/plugins/clear-styles.ngWig.js#L17

[2016-07-20 14:32] bampakoa commented on #131
I really like your approach. Never thought of it! It is also much more testable. I will make the change and submit a PR for that. Thanks!

[2016-07-20 14:32] #131 closed

[2016-07-21 08:03] nonblocking commented on #132
Buttons within a plugin are also somehow grayed out, but they accept user input. Since the _disabled_ attribute outside of form controls is non-standardized I'm not surprised that the behaviour is inconsistent.

I'd suggest to prefix **all** attributes to avoid such problems.

[2016-07-22 10:54] System64 opened #134 "Feature Request: ChangeCallBack feature"
Hi,
Wouldn't it be great to have a changeCallBack option, alike pasteCallBack.
I have modified the code and have implemented change callback by binding "DOMSubtreeModified" event with debounce, so that it won't get called so often. Is it a good approach, any suggestion would be good.

[2016-07-22 11:15] bampakoa commented on #134
Could you please provide more info on the need of this event or even better, describe the scenario that you are trying to achieve?

[2016-07-25 07:03] System64 commented on #134
@bampakoa: change call back has many uses, like in my cases, I would like to perform some activity if there is any changes in the editor, like disable some other fields or change some texts, or show count of characters.

[2016-07-25 07:40] bampakoa commented on #134
You could detect any changes that happen on the editor by watching **ngModel** attribute in your code:

[2016-07-26 07:48] System64 commented on #134
Yes watching ngModel can be done but don't you think it will increase the number of watcher for angular.

[2016-07-26 08:27] bampakoa commented on #134
I don't think you have to worry so much about that, as the latest version of Angular >= 1.5 has many performance improvements. Nevertheless, it always depend on your code (if you are using already many watches etc....). Also, it would be better to watch the **model** rather than polluting the **rootScope** with an event.

[2016-07-26 13:48] System64 commented on #134
Yeah, that is the whole reason I am avoiding using it with watch, there are already a lot of things being watched.

No, I don't have to put it in rootScope, I have bind it with JQuery 's "DOMSubtreeModified" event.

[2016-08-01 05:36] robhicks opened #135 "Need placeholder"
I need a placeholder. Is that possible without modifying your library?

[2016-08-10 08:05] stevermeister opened #141 "Move readme docs into wiki"

[2016-08-10 09:16] bampakoa commented on #141
I would also say:

[2016-08-18 19:23] optikool opened #145 "ng-wig2+ - Angular1.3+"
Hi,

Your readme file states there is a ng-wig2+ for Angular1.3+. Where can I find this version as I am not using Angular 1.5 and cannot upgrade to this version?

Thanks!

[2016-08-19 10:19] stevermeister commented on #145
Hi @optikool ,

I think you can try to use this version - https://github.com/stevermeister/ngWig/tree/v2.3.7
that is latest for Angular1.3

[2016-08-20 05:29] optikool commented on #145
Excellent! I'll give it a try. Thanks. :+1:

[2016-08-25 08:16] sajithk opened #146 "Change text of hyperlink adding prompt"
Hi,
Is there a way to change the title "Please enter the URL" in the prompt when adding a link?

[2016-08-25 12:07] stevermeister commented on #146
1) you can make plugin for your own adding link functionality
2) you can fork this repo, make changes and build the dist

what text do you want to have there?

[2016-08-25 12:37] sajithk commented on #146
Thank you stevermeister. It is not something generic. The text is project dependent. I was looking a way to replace the default text.
Is there a way to add custom toolbox button? It would be grateful if you could show me a sample code.

[2016-08-25 12:38] bampakoa commented on #146
@sajithk Please see [Add custom button sample](https://github.com/stevermeister/ngWig#add-custom-button-plugin-plunker) in README.

[2016-08-26 05:29] sajithk commented on #146
Thanks @bampakoa. I will try with sample.

[2016-08-26 07:32] kpgarrod commented on #113
I am still having this problem with angular-material 1.1.0. I have created an issue there: https://github.com/angular/material/issues/9414. This is affecting my production users so any help would be greatly appreciated!

[2016-09-01 08:41] alainib commented on #130
i have multiple ng-wig textarea and want to switch for one to the next with tab. how to do this please ?

[2016-09-01 09:18] alainib opened #147 "adding link on mozilla don't work"
I'm getting a strange behavior on mozilla ( version 48.0.1 on windows 7 )

The link button open the popup, i paste for example "www.google.com" but when i click "ok" the popup close nut nothink is added in the text. no link !

It work on my chrome but not on mozilla.
any advice please ?

[2016-09-02 12:13] stevermeister commented on #147
@alainib
you should select text first, which you want to make a link

[2016-09-02 12:17] stevermeister commented on #130
@bampakoa probably we could create something with tabIndex, here?
(like https://codepen.io/tjacobdesign/pen/qpxyh)

[2016-09-02 14:15] bampakoa commented on #147
@alainib What version of ngWig are you using?

[2016-09-02 17:01] alainib commented on #147
@stevermeister oooh yeah it work this way on mozilla. On chrome you can just create a link without selecting text before.
@bampakoa i use the version: 2.3.4 version

[2016-09-02 22:36] bampakoa commented on #147
@alainib this has been resolved in the latest version of the library as far as I can tell.You can either upgrade or, if you dont wish to, you can copy paste the appropriate piece of code into your fork.

[2016-09-04 17:09] alainib commented on #147
yes thank you. i update angular to 1.5.7 and ng-wig to v3 and now it work.
please how can make link with 'target="_blank"' ?

[2016-09-04 19:36] bampakoa commented on #147
@alainib I am glad you solved it. If there is anything else you would like to ask, please feel free to do so :smile:

[2016-09-05 07:46] #130 closed

[2016-09-05 08:03] bampakoa commented on #130
BTW, @alainib nice catch for the tabindex!

[2016-09-22 17:33] smlshn commented on #145
Hi @optikool I'm still getting this error

ng-wig.js:145 Uncaught TypeError: angular.module(...).component is not a function(anonymous function) @ ng-wig.js:145
angular.js:38 Uncaught Error: [$injector:modulerr] http://errors.angularjs.org/1.4.8/$injector/modulerr?p0=myapp&p1=Error%3A%2…okPro%2FDesktop%2FngWig-2.3.7%2Fdist%2Fangular%2Fangular.min.js%3A19%3A463)

 ('am using angular v1.4.8

[2016-09-22 17:36] smlshn commented on #145
I again removing
angular.module('ngWig')
  .component('ngWigPlugin', {
    bindings: {
      plugin: '<'
    },
    controller: function($scope, $element, $compile) {
      $element.replaceWith($compile('<' + this.plugin.pluginName + ' />')($scope));
    }
  });
at line 144 in ng-wig.js the problem gone is that safe? :)

[2016-09-25 08:35] stevermeister commented on #145
version v2.3.7 does not have components, please use correct version

please use this version - https://github.com/stevermeister/ngWig/tree/v2.3.7 to have back compatibility with Angular < 1.5

[2016-09-25 08:35] #145 closed

[2016-09-29 14:48] #147 closed

[2016-10-25 08:07] rolintoucour opened #149 "required working only if placeholder present"
I added a ng-required attribute to ng-wig and noticed that, on the first focus on the ng-wig, the input was validated (even if empty).

The problem is that, on $onInit, a '<p></p>' is inserted in the model, so the required validation cannot work.

A temporary workaround is to use a placeholder (<p></p> isn't inserted this way).

[2016-10-25 10:32] bampakoa commented on #149
The validation does not work because a `<p>` element is inserted by default if there is no value of the model. I think this is done by design thus you have to control the required behavior in a custom way

For example, if you want to disable a submit button when the editor has no content yet:

`<button role="submit" ng-disabled="editor.model === '<p></p>'"></button>`

[2016-11-19 14:24] alainib opened #150 "how to get maths signs"
I'm using this plungin.
Now i need to add mathematicals buttons (like square, root,  divide etc)
How can i do this ? thanks

[2016-11-19 14:49] stevermeister commented on #150
by adding custom button,
please check the example - https://github.com/stevermeister/ngWig#add-custom-button-plugin-plunker

[2016-11-20 21:00] alainib commented on #150
thanks for response. so if i want multiple customs buttons i add multiple `.component('nwMyCustomButton' ...` , `.component('nwMyCustomButton2' ...` etc .

For example i try this but don't update the displayed text :

     angular.module('ngWig').config(['ngWigToolbarProvider', function(ngWigToolbarProvider) {
       ngWigToolbarProvider.addCustomButton('my-custom', 'nw-my-custom-button');
     }]

[2016-11-20 21:22] bampakoa commented on #150
@alainib You should not access the content of the editor directly. Add the **content** attribute to the bindings of your plugin and you will be able to interact with it.

[2016-11-20 21:29] alainib commented on #150
i don't get what you mean sorry. where/how to add the content attribute ? thks

[2016-11-20 21:40] bampakoa commented on #150
You can check [clear-styles](https://github.com/stevermeister/ngWig/blob/master/src/javascript/app/plugins/clear-styles.ngWig.js) plugin. See how it defines content in its bindings:

     bindings: {
          editMode: '=',
          disabled: '=',
          content: '='
      },

 and then accesses it by:

`this.content = div.textContent;`

[2016-11-23 20:11] asadito opened #151 "Fontawesome dependency hardcoded on css"
By using ngWig in a project which has a Font Awesome library version newer than 4.4 as a dependency, the ngWig library downgrades that library to version 4.4.

On ng-wig.css file there's an import to Font Awesome library:
`@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");`
It should be located on the bower.json file instead as a dependency, so we can manag

[2016-11-24 15:53] stevermeister commented on #151
yes, agree it's not good to have such a hardcode.
but nearest future probably we will skip bower as well (for npm).

[2016-11-25 14:53] stevermeister commented on #150
@alainib hope it works for you

[2016-11-25 14:53] #150 closed

[2016-11-25 15:20] stevermeister commented on #132
looks pretty ok for me:
IE9
![screen shot 2016-11-25 at 16 01 39](https://cloud.githubusercontent.com/assets/1526680/20629283/f98aed22-b32a-11e6-889e-859520a95325.png)

IE10
![screen shot 2016-11-25 at 16 00 45](https://cloud.githubusercontent.com/assets/1526680/20629290/007352b4-b32b-11e6-87ce-d07c8b72f5dd.png)

IE11
![screen shot 2016-11-25 at 16 01 16](https://cloud.githubusercontent.com/assets

[2016-11-25 15:20] #132 closed

[2016-11-26 14:48] alainib commented on #150
sorry for not responding. It work yes but maybe i can improve it.
when i click it add the special char but at the end of the text, with the building features it add them where the cursor is. Anyway to do it ?

my actual code :

	angular.module('ngWig').config(['ngWigToolbarProvider', function(ngWigToolbarProvider) {
	  ngWigToolbarProvider.addStandardButton('underline', 'Underline', 'underline', '

[2016-11-27 12:44] bampakoa commented on #150
@alainib I don't get what is the problem...When you set the content with `this.content += "√"`
it should add the symbol at the end of the text. Doesn't it?

Instead of creating multiple components, you could create one component that combines multiple button elements to accommodate for your case.

[2016-11-27 21:12] alainib commented on #150
hello bampakoa. yes it add the special sign at the end of the text .
What i want to do is i can click somewhere on the text and then click on the button so it add the special char where i left the cursor not the at the  end.
thanks for the advice for multiple button. i try it

[2016-11-28 08:58] bampakoa commented on #150
I don't think this is feasible using **content** attribute. Maybe you should access the editor element directly and get the location of cursor explicitly.

[2016-12-12 14:03] enricodeleo opened #154 "Unwanted click on the first button in toolbar"
Hi everyone,

I just discovered this editor and I really like it. Everything works as expected BUT I'm experiencing a weird behaviour: when I click within the content area the first button of the toolbar is also clicked (no matter which button it is) and the content is altered consequently. Am I doing something wrong? Anyone had the same experience?

[2016-12-12 15:18] bampakoa commented on #154
@enricodeleo.

1. How do you setup the editor in html ?
2. Do you have any plugins active ?
3. Can you provide a plnker with your code?

[2016-12-12 15:43] enricodeleo commented on #154
Just fixed myself. The problem was that I used the editor in place of a `<textarea>` in a form using foundation 6 that suggests to put elements between `<label>`. Apparently moving the editor out of the label fixed the error.

[2016-12-12 21:49] #154 closed

[2016-12-13 10:33] prismsoundzero commented on #151
I agree with @asadito such hardcoded dependency should be removed. We are using ng-wig in our project and this is causing a problem.

[2016-12-20 12:38] markusbucher-she opened #156 "Drag and Drop keeps HTML"
Hi,
I do not find information how to prevent drag-and-drop of html-content with automatic stripping of all html tags. Copy-paste works fine, but I need the same rules for drag-and-drop.

Thank you for your help
Markus

[2016-12-22 09:25] bampakoa commented on #156
@markusbucher-she could you please be more specific about the issue? Any examples that denote the problem in question? Any plunker?

[2016-12-22 09:27] bampakoa opened #157 "New Angular support"
@stevermeister any plans for an Angular (Angular2) implementation of the editor?

[2016-12-22 11:03] stevermeister commented on #157
yes, sure, I'm waiting for nice documentation for creation of library modules for ng2.

here I have a draft - https://github.com/stevermeister/ng2wig

[2016-12-22 11:21] #157 closed

[2016-12-23 10:08] LoganDupont opened #158 "Validation on ngWig not working"
The validation does not work because a <p> element is inserted by default if there is no value of the model. So we have problems for the required & minLength/maxLength due the paragraph tags. We had an work around but because it's an rich text editor we cannot filter on html-tags. So is it possible to find a solution for this problem.

Also if we want to save the model in the db the paragraph tags

[2016-12-23 11:10] LoganDupont opened #159 "Focus on first button when using tab"
The problem is that we want to use the tab to navigate to the ng-wig but the focus is on the first button and not on the inputfield so the user will not see that the focus is on the ng-wig at that moment.

[2016-12-24 09:28] bampakoa commented on #159
@LoganDupont the first focus is on the toolbar for accessibility purposes. Editor buttons have styles attached to them so that it is clear when they are focused.

![image](https://cloud.githubusercontent.com/assets/7170892/21466258/be1e9132-c9cb-11e6-99dd-163f6781e676.png).

You can always override the style to match your need. I hope that helps!

[2016-12-24 12:56] LoganDupont commented on #159
@bampakoa So you want to say that i need to add a focus style to the buttons to get a proper solution for this? Because I think it should be there as default so the person can clearly see that the buttons are focused when you press the tab to switch between the different input-fields. At the moment I don't get the focused border that you show me when I try to press the tab button.

You can find my

[2016-12-24 14:17] bampakoa commented on #159
@LoganDupont Could you please check with version 3.0.9 tag?

@stevermeister **dist** folder is a bit outdated in **master** branch.

[2016-12-24 14:24] bampakoa commented on #158
Dupe of #149

[2016-12-24 14:55] LoganDupont commented on #158
Thats true, but that issue was only for the required validation that's why i created a more general one. Because the <p>-tags gives you also problems for other validations and your model.  So i think it should be the other way around.

[2016-12-24 16:29] LoganDupont commented on #159
So i tried to add the https://cdnjs.cloudflare.com/ajax/libs/ng-wig/3.0.9/ng-wig.js file in my example but i got still the same problem.

You can find my example here:
https://codepen.io/LoganDupont/pen/gLJxQX/

[2016-12-24 17:08] bampakoa commented on #159
@LoganDupont your CSS resource still points to the **master** branch.

[2016-12-25 10:43] LoganDupont commented on #159
@bampakoa Okay thanks, it solves the problem. I added https://cdnjs.cloudflare.com/ajax/libs/ng-wig/3.0.9/css/ng-wig.css file so there is indeed something wrong with the dist folder in the master branch that is not up to date.

[2017-01-02 09:48] stevermeister commented on #159
sorry guys, I was on vacation, give me a moment to dive in it.

[2017-01-02 09:56] stevermeister commented on #159
@LoganDupont thank you for you feedback
@bampakoa thx! fixed dist folder, please check

[2017-01-02 11:20] LoganDupont commented on #159
@stevermeister I think we can close this one after the links like this https://cdn.rawgit.com/stevermeister/ngWig/master/dist/ng-wig.js are updated :)

[2017-01-02 11:56] #159 closed

[2017-01-05 15:29] swilsonsantos opened #160 "Not working with angular 1.6.1"
The new version of angular, brings some [breaking changes](https://github.com/angular/angular.js/blob/master/CHANGELOG.md#breaking-changes) related to components.

Previously all the bindings are available in any part of the controller, now you only can access it through the this.$onInit function

Error showed:
TypeError: Cannot read property 'pluginName' of undefined at new angular.module.compone

[2017-01-07 15:08] stevermeister commented on #160
thank you for the feedback!
I've deployed the update to fix this issue. Please check

[2017-01-09 10:38] markusbucher-she commented on #156
@bampakoa Thank you for your reply.

When copypasting html content from a browser I receive the following result:
![grafik](https://cloud.githubusercontent.com/assets/2083500/21763757/cc01c86e-d65f-11e6-9bac-00d371ca6cea.png)

When draganddropping the same content the following result is visible:
![grafik](https://cloud.githubusercontent.com/assets/2083500/21763737/b75d442e-d65f-11e6-9609-c55bbcfc

[2017-01-09 10:59] bampakoa commented on #156
You could create a plugin for this case but let's ping @stevermeister to check if this should be a built-in feature 😄

[2017-01-09 15:27] stevermeister commented on #156
I think it depends on browser and OS.
When I'm copy-pasting HTML it keeps its markup.
not sure that it should be build-in feature

[2017-01-10 14:24] bampakoa commented on #160
@stevermeister I think we can close this.

[2017-01-10 14:36] #160 closed

[2017-01-10 14:36] bampakoa commented on #156
I also believe that the best approach is to create a custom plugin. @markusbucher-she what are your thoughts? I would be happy to help in case you are interested.

[2017-01-10 14:59] bampakoa commented on #135
@stevermeister I think we can close this?

[2017-01-10 15:11] stevermeister commented on #135
true

[2017-01-10 15:11] #135 closed

[2017-01-11 07:48] markusbucher-she commented on #156
I would be happy to use such a plugin and appreciate any help @bampakoa
@stevermeister it was a security reason for putting the copypaste-handling in the core? Then I would see this as a security relevant issue as well...

[2017-01-11 08:57] stevermeister commented on #156
it's not security reason.
we just want to keep editor as light as possible

[2017-01-13 18:51] hurricane987 opened #162 "Initial ng-model not displayed if placeholder is used"
Hi! I love your texteditor, but I am having one problem with it. I am using it for a messaging function, and if there is a default string provided for the ng-model, it won't be displayed if the "placeholder" property on ng-wig is used. It's not that big of an issue, because I can conditionally display different ng-wigs based on whether or not there is an initial value for the model, but I thought

[2017-01-14 10:43] bampakoa commented on #162
@hurricane987 which version of the editor are you using?

[2017-01-16 09:18] markusbucher-she commented on #156
@stevermeister Okay, I understand. So I will need a plugin for that. Can you point me to the place, where the copy-paste-Action is in the core so that I can use this in my plugin?
@bampakoa Your Help is still very appreciated :-)

[2017-01-16 09:34] bampakoa commented on #156
@markusbucher-she Do you have any fork of the repository or shall I create one in mine, so that we can collaborate on the feature?

[2017-01-16 09:51] markusbucher-she commented on #156
@bampakoa I did not create a fork yet. We can use one of yours.

[2017-01-17 17:58] hurricane987 commented on #162
Was using 3.0.7, but just upgraded to 3.0.14 and the problem is fixed. Hurray!

[2017-01-17 17:58] #162 closed

[2017-01-18 08:26] markusbucher-she commented on #156
@bampakoa How can we proceed? Unfortunately this issue is quite urgent...

[2017-01-18 12:33] bampakoa commented on #156
@markusbucher-she You can use the **Clear Styles** plugin to clear any styles of the text, after drag and drop. You can find information about the plugin in the README file of the repository.

[2017-01-18 13:37] markusbucher-she commented on #156
For security reasons I must prevent the saving of tags other than <u><i> or <b>. I can't let the user press a custom button to remove html or word formatting, this must be done automatically.
Unfortunately the readme doesn't contain the section "plugin creation", so I do not know how to create one...
Right now I try to fork the core to my needs. I managed to add on-drop to several places, but it d

[2017-01-18 14:29] bampakoa commented on #156
@markusbucher-she There is already a section for creating a plugin [here](https://github.com/stevermeister/ngWig#add-custom-button-plugin-plunker)

Check [this](https://github.com/bampakoa/ngWig/commit/bb2e41d82d871a99ff9fff452d36fc3b82234d97) commit in my fork. Maybe you can contribute to this one so that we can later merge it in the official repo of the ngWig editor. You can use it initially for

[2017-02-01 16:17] samosale opened #163 "Placeholder not showing up"
I added placeholder but it won't show. I have tried several ways of adding placeholder, the last one is with angular interpolation bindings
`        <ng-wig ng-model="$ctrl.noteContent" placeholder="{{ $ctrl.placeholder }}" flex></ng-wig>
`

I am using angular 1.6.0 and ng-wig 3.0.9

[2017-02-02 09:03] bampakoa commented on #163
Could you please try with the latest version?

[2017-02-08 09:13] bampakoa opened #164 "Editor examples"
@stevermeister I think it should be better to maintain [examples](https://github.com/stevermeister/ngWig#examples) of the editor in the **gh-pages** branch and avoid using plunkers. Everyone has to remember to update the version of **ngWig** in plunkers that maintains when a new version is released. What do you think about it?

[2017-02-08 19:12] stevermeister commented on #164
We are using the latest version on plunker by default, no?
And for gh-pages - it would be really hard to keep them up-to-date.

[2017-02-08 19:23] bampakoa commented on #164
Actually no. When a new version is released, I go to my plunkers and update the corresponding links:
e.g. `<script src="https://cdn.rawgit.com/stevermeister/ngWig/v3.0.14/dist/ng-wig.min.js"></script>`. Do you have any suggestion to make it simpler?

[2017-02-09 09:25] stevermeister commented on #164
All plunkers that I've created for README contain:

    <script src="//cdn.rawgit.com/stevermeister/ngWig/master/dist/ng-wig.js"></script>

so just **last** version from dist.

[2017-02-09 09:46] #164 closed

[2017-03-07 20:10] bampakoa opened #166 "NPM packages install fails"
`npm install` fails with the following message:

[code]

After some digging I found out that **grunticon** package is responsible for the error message. Another user has already reported something relevant [here](https://github.com/filamentgroup/grunticon/issues/334).

@stevermeister I tried with the latest version of the package and the problem seems to vanish, but I cannot know other complicatio

[2017-03-07 20:23] stevermeister commented on #166
same error here

[2017-03-07 20:49] stevermeister commented on #166
update grunticon also works for me, made a hotfix for it

[2017-03-07 21:51] #166 closed

[2017-06-03 14:18] LoganDupont opened #170 "OnPaste Hook not working correctly when selecting all content on IE"
It seems that the onPaste Hook is not working on IE when i try to select all the content that is inside the ng-wig and replace it with the clipboard it's content. Instead of replacing it, the content gets added to the content that was already inside the ngWig.

As example i took the demo for onPaste Hook with a little adaptation as IE doesn't support ES6 yet.
[Plunker example](https://plnkr.co/edi

[2017-06-03 17:39] LoganDupont opened #171 "Strange behavior ngWig because of css styles"
When trying some things out on ngWig i found some strange behaviors caused by the styles.
To reproduce the problems i used this [Plunker example](https://plnkr.co/edit/IaTeHRUdWU1WUJnUiftl?p=preview)
1) If you press backspace in the front of the first paragraph, you will see that it will take the same styles as the header. This is not the case if you try again with some bold/italic text replacing

[2017-06-09 06:23] LoganDupont commented on #170
@stevermeister @bampakoa Any idea what cause this strange behavior?

[2017-06-09 06:39] stevermeister commented on #170
@LoganDupont did not have time to dive into the issue, sorry

[2017-06-10 12:01] stevermeister commented on #170
@LoganDupont can't reproduce, tried your planker and browserStack with IE11

[2017-06-10 12:22] LoganDupont commented on #170
@stevermeister Maybe the info that i gave you wasn't clear enough. Here is a video to reproduce it https://www.screencast.com/t/xlYtQsK5ip

[2017-06-10 17:45] stevermeister commented on #170
could you put the video somewhere on youtube or other service without flash please?

after second try I found the issue, it appears not from the begging but after some manipulations with text inside ngWig. pretty weird behaviour.
ngWig is using standard `pasteHtmlAtCaret ` method for pasting content. Nothing special

[2017-06-11 18:15] LoganDupont commented on #170
@stevermeister I changed the video to a gif. Hopes that clarify the problem that i had on IE11 and not on Firefox, chrome or edge.

[2017-08-28 17:25] tkserver opened #172 "Insert Image?"
I've seen inserting an image discussed but I see nowhere in the docs which show if this feature actually exists and how to implement it.

[2017-08-29 08:56] bampakoa commented on #172
@tkserver You can insert an image from a URL by adding a standard button during configuration of the **ngWigToolbarProvider**.

`ngWigToolbarProvider.addStandardButton('image', 'Insert image', 'insertImage', 'fa-image');`

[2017-08-29 13:55] tkserver commented on #172
Thank you @bampakoa

[2017-09-28 12:04] MacJu opened #173 "Security Issue"
Hello,

I would like to get in touch with you concerning a security issue.
What is the best way for us to get in contact?

Kind regards,

Justin

[2017-09-28 19:19] stevermeister commented on #173
security issue of ngwig?

[2017-09-29 05:00] MacJu commented on #173
Hello,

Yes I discovered a XSS vulnerability with ngWig.
I didn't want to publicly disclose it as it can be critical if used in a
production environment.

Justin

Le 28 sept. 2017 21:19, "Stepan Suvorov" <notifications@github.com> a
écrit :

[2017-09-29 05:58] LoganDupont commented on #173
I hope this will get fixed as soon as possible. Thanks for reporting this @MacJu

[2017-09-29 09:55] stevermeister commented on #173
@MacJu you can contact me via email - stevermeister@gmail.com

[2017-09-29 13:55] stevermeister commented on #173
added sanitization section with explanation - https://github.com/stevermeister/ngWig/blob/master/README.md#sanitization

[2017-09-29 13:55] #173 closed

[2017-09-29 19:49] LoganDupont commented on #173
@stevermeister I think you shouldn't provide the info how to do xss. Now you gave people with bad intentions the info they need to manipulate your ngWig. Instead just put a message that this tool has security issues if won't be solved so persons that want to use your tool are aware of this.

[2017-09-30 08:50] stevermeister commented on #173
I think that's nice that they can test their implementations,
but I don't mind to remove the instructions from readme file

[2017-10-16 06:43] sh4mz opened #174 "custom button - append content"
Hi,

Using given example : https://plnkr.co/edit/Ik2fmPzDu6ecifUqVICv?p=preview

How do i append text in the content based on user selection? how i can do this from component?

[2017-10-16 09:42] bampakoa commented on #174
@sh4mz You can add a binding for the `content`, which is the content of the editor, and access that later in your component.

[2017-11-16 06:00] AdamAnandUS opened #175 "How to focus on the container ?"
Hello,

As soon as I load the "ngWig" component, the focus goes to the first button on the toolbar. Instead I want the focus to be on the container so that the user can start typing in right away.

How can I achieve this ? Please suggest.

Thanks
Adam

[2017-11-16 12:17] bampakoa commented on #175
@AdamAnandUS Which version do you use?

[2017-11-16 16:13] AdamAnandUS commented on #175
I am using -- ngx-wig@0.3.3

[2017-11-16 16:30] bampakoa commented on #175
This repo is for AngularJS version of ngWig. You need to open an issue in [this](https://github.com/stevermeister/ngx-wig) repository which is for Angular version.

[2017-11-16 16:40] AdamAnandUS commented on #175
Thank you for directing me to the right link. I have opened the issue there. I will close this issue here. Have a great day.

[2017-11-16 16:40] #175 closed

[2017-11-21 13:59] simonered opened #176 "Release 3.0.16 missing"
Please create release for v3.0.16. Current latest release (3.0.14) has some crucial bugs.

Thank you

[2017-11-25 08:04] stevermeister commented on #176
it's already published, no?

[2017-12-05 15:02] fairray commented on #176
bower didn't find v 3.0.16
![mint 17 1 - vmware workstation 2017-12-05 16 57 21](https://user-images.githubusercontent.com/12017660/33613644-d2bc5c1e-d9dd-11e7-9160-ed7a5d7d69b8.png)

[2017-12-05 15:51] stevermeister commented on #176
I got your point.
added v3.0.16 tag, now it should work

[2017-12-10 14:46] alainib opened #177 "go to next ngWig with tab key"
Hello.

I make a lot of questionary, each one having multiples <ngwig> in the same page.

I want to press "tab" key to jump from the content of a <ngwig> to the next to reduce writing time. Taking the following example, to write "question 1", "question 2","question 3" and so on.

[![enter image description here][2]][2]

https://plnkr.co/edit/dInpEicp5I5p5D1Cnf5w?p=preview

 	<body>
	  <ng-wig ng-m

[2017-12-10 18:43] stevermeister commented on #177
good point!
for some reason, tabindex is missing.
willing to make a PR?

[2017-12-10 19:44] bampakoa commented on #177
@stevermeister  This has been fixed in the latest version :smiley: @alainib Try your plunker with v3.0.16 and let us know.

[2017-12-10 19:48] stevermeister commented on #177
@bampakoa or, really?
I'm already with ngx :)
Still thinking about new package solution.
after last ng-be conference, I have a feeling that `ng-packagr` is exactly what we need.

[2017-12-10 20:32] alainib commented on #177
I updated the plunker with 3.0.16 thanks.
Now it go inside the textarea but in i have to press "tab"  for each button of the ng-wig ( in my app i have 9) . So a little bit long and not efficient in my case.
Is there a way to jump from textarea to textarea directly even if it is not clean code ?

In all case thanks for the good work

[2017-12-11 14:36] bampakoa commented on #177
@alainib You can create a plugin for this. [Here ](https://github.com/stevermeister/ngWig#add-custom-button-plugin-plunker )is a sample plugin that creates a button. You can create your own, which obviously will not be a button 😄

[2017-12-14 09:53] alainib commented on #177
@bampakoa  thanks but i already created custom button for other purpose.
I want to do this  : when i'm in a textarea of a ng-wig, if i press "tab" button it go to the next ng-wig textarea , actually it go to the next button, so i have to press tab 9 times before i fall inside the textarea.
I'm trying to improve only this .
Thanks

[2017-12-18 18:14] gronk555 opened #178 "formats not working in IE"
open in IE
https://plnkr.co/edit/TgKThPQjlG4ctzGYk6Kq
see that text type dropdown is disabled

[2017-12-19 11:50] bampakoa commented on #178
Related to #132 @stevermeister I can confirm that the problem exists. Is it working for you?

[2017-12-19 11:52] bampakoa commented on #177
@alainib I think that you still need a plugin for the behavior that you describe. If you need any help on that, ping me.

[2018-03-20 13:14] istvanberes opened #179 "RTL indentation not working"
If you set the direction to rtl on the ng-wig component the indentation not working.

[https://plnkr.co/edit/44oDh3A9MN05rpWXgSDR?p=preview]

The indent button add a new element, but the margin are in the left: `<blockquote style="margin: 0 0 0 40px; `

[2018-03-27 09:52] stevermeister commented on #179
wow, true, thank you for reporting it!
any idea how to fix it?

[2018-03-27 10:25] istvanberes commented on #179
I added some custom buttons with custom functions (I call these function also if you pres the Tab/Shift Tab)

`  function indentInNgWig() {
    const selection = window.getSelection();
    const ngWig = findAncestor(selection.focusNode, '.ng-wig');
    const rtl = isRTL(ngWig);
    if (!hasLiParent(selection, ngWig) && rtl) {
      document.execCommand('formatBlock', false, 'p');
      changeMargi

[2018-03-27 14:57] stevermeister commented on #178
yes, unfortunately, it's true. but still don't have time to dive into it and fix :(

[2018-03-29 12:38] #176 closed

[2018-03-29 12:38] #126 closed

[2018-03-29 12:39] #141 closed

[2018-03-29 12:39] #172 closed

[2018-05-01 06:31] sajithk commented on #163
Same here. I tried the latest version at the moment (3.0.16), still not working. any fix?

[2018-05-10 11:08] bampakoa commented on #163
@sajithk Can you setup a **plnkr** for this? It seems to be working on the examples that are on the README file.

[2018-05-10 11:31] samosale commented on #163
I resolved this issue and the problem was I did not include css ng-wig file.

[2018-05-11 07:04] #163 closed

[2018-07-08 13:28] harellevy commented on #59
what is the onPaste function to pass that paste the plain text of the clipboard?

[2018-07-10 12:59] andresr-clientmaker commented on #174
@bampakoa i did that already but this.content is always undefined, im trying to make a plugin to upload files to a server and then render the image in the content f the edutor (at cursor position ofc).

trying this so far to test if i can get the content but nope, any idea?

`.component('nwMyCustomButton', {`
`binds: {`
				`execCommand: '=',`
				`content: '='`
			`},`
			`template: '<button clas

[2018-07-12 16:25] andresr-clientmaker opened #181 "Different plugins per instance"
Hey guys, i just created a plugin that takes an image from my computer, turn it into base 64 and add it to the content BUT i happen to have 2 ngWigs in the same view and whenever i attach an image it gets attached to the first $ctrl.content, i create the plugin in the config section like the given example by you but i wonder if there's way to add that button (plugin) to only one instance!

thank y

[2018-07-17 18:21] bampakoa commented on #181
@andresr-clientmaker can you show an example of how you setup the `ng-wig` component inside the html?

[2018-10-18 12:34] stevermeister opened #183 "Error: Cannot find module 'internal/util/types'"
could not make it work now
bower install command fails
that does not allow me to publish new version :(

[2018-10-18 19:44] bampakoa commented on #183
@stevermeister I tried to run `bower install `and `grunt install `separately without **devSetup** script and it works.

[2018-10-20 14:57] stevermeister commented on #183
true! it helps! thx!
published new version.

[2018-10-20 14:57] #183 closed

[2018-10-20 14:57] #178 closed

[2018-11-21 15:07] seb777 opened #185 "Release 3.0.18 missing"
Please create release for v3.0.18.
See  #176

[2018-12-03 13:04] stevermeister commented on #185
bower itself is already deprecated :)
but I got your point, added tag for v3.0.19

[2020-12-21 14:49] dev-quatreepingles commented on #30
Hello @stevermeister

Sorry to re-open the topic. I find no way to force the height the container (style does not work for example), and no doc or issue seems to talk about that, expected that one.

Is there still a way to do it? I'm using the latest version.

Thank you a lot for your support.
Jourdan

[2020-12-23 20:25] stevermeister commented on #30
@dev-quatreepingles could you show us some examples in sandbox what you have tried and what did not work?

[2021-04-29 08:47] bizantom opened #201 "Issue with multiple instances"
When several instances of ng-wig are set up on the same page, the button of one of the editor can modify the content of another editor.

How to reproduce:
Here is a plunker with two instances: https://plnkr.co/plunk/Z6YsSzXn0pZ8EF4M
Select some text in the first instance than click on the bold button of the second instance. The selected text of the first instance is now bold.
Moreover the action o

[2021-04-30 07:38] stevermeister commented on #201
@bizantom wow, interesting.

btw, are you still using AngularJS? it's time to migrate to Angular and ngx-wig ;)

[2021-04-30 07:44] bizantom commented on #201
@stevermeister Yes still using AngularJS on an old project that does not change a lot. I think it will never be migrated to Angular...
Off course, I am using Angular on most of the other projects! Never have the opportunity to test ngx-wig though...

[2021-05-04 16:29] #201 closed

[2022-01-03 18:30] rommelatienza opened #210 "Unable to push or create PR targeting to upstream"
I'm receiving authentication failed

[2022-01-03 19:08] stevermeister commented on #210
have you tried to do a fork first?
<img width="118" alt="Screenshot 2022-01-03 at 20 08 13" src="https://user-images.githubusercontent.com/1526680/147969724-167babb7-380a-44e1-9cf0-67f8fdc0a05b.png">

[2022-01-04 08:12] rommelatienza commented on #210
@stevermeister yes steve, i tried. the latest fork was my PR. can you move that to upstream?

[2022-01-04 08:13] rommelatienza commented on #210
@stevermeister

![image](https://user-images.githubusercontent.com/12545654/148028951-07ef4e8d-867f-4b7f-9c41-a987bd8d21ea.png)

[2022-01-04 08:14] rommelatienza commented on #210
@stevermeister

![image](https://user-images.githubusercontent.com/12545654/148029089-aa9d86dc-cad1-4fd9-b5d4-54e997304433.png)

[2022-01-04 08:25] stevermeister commented on #210
I think you are trying to push it directly to the origin, but you don't have to do it - just make PR from your forked version to this one.
I did not setup any additional permissions to this repository, so it should work in a standard way

[2022-01-04 08:35] rommelatienza commented on #210
hi @stevermeister , i just created new PR. can you check it?

[2022-01-04 08:56] stevermeister commented on #210
@rommelatienza , you managed to do it! cool!
checking now...

[2022-01-04 08:56] #210 closed